body {
  background-color: #efefef;
}

h2 {
  font-size: 2.0rem;
  text-align: center;
  margin: 10px auto;
}

h3 {
  font-size: 1.8rem;
  text-align: left;
  padding-left: 2em;
  margin: 10px auto;
}

h5 {
  margin-left: 65%;
}

p {
  text-indent: 2em;
  font-size: 1.6rem;
  padding: 5px;
  margin: 0;
  line-height: 28px;
  img {
    display: block;
    width: 60%;
    padding-left: 2em;
    @media only screen and (max-width: 1080px){
      width: 90%;
    }
  }
}

a {
  color: #7B68EE;
  &:hover {
    color: #3b7c4b;
    text-decoration: underline;
  }
}

header {
  margin: 10px 5%;
}

article {
  margin: 10px 5%;
}