hr {
    height: 2px;
    border: none;
    border-top: 2px solid #78ac5f;
}

body {
    background-color: #f1b5eb;
}

h6 {
    font-size: 14px;
    padding: 0;
    margin: 0 20px;
    font-weight: normal;
}

#bar {
    width: 1000px;
    margin: 0 auto;
}

#bar button {
    text-align: center;
    font-size: 22px;
    margin-right: 20px;
    padding: 0;
    line-height: 50px;
    height: 50px;
    width: 90px;
    border: 1px solid #1e7db9;
    cursor: pointer;
}

#resume {
    border: 1px solid #999;
    background-color: #fff;
    margin: 10px auto;
    height: 1000px;
    width: 1000px;
    box-sizing: border-box;
}

#resume a {
    color: purple;
}

#resume a:hover {
    color: blue;
}

#resume a:visited {
    color: red;
}